.list-group-item {
  .remove {
    float: right;
    cursor: pointer;
  }
  .move {
    float: right;
    margin-right: 8px;
    display: none;
  }
  &.note-item:not(.active):hover {
    background-color: #ddd;
  }
  &:hover .move {
    display: inline-block;
  }
}

.ace_editor { height: 300px; }

.tag-cloud {
  button {
    margin-right: 5px;
    margin-top: 5px;
  }
}

.display-tags {
  span {
    margin-right: 4px;
  }
}
