<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 tag-cloud">
      <div ui-view="tagcloud"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <!--<div ui-view="list"></div>-->
      <div ui-view="list"></div>
    </div>
    <div class="col-xs-6">
      <div ui-view="details"></div>
    </div>
  </div>
</div>
