<ul class="list-group" ui-sortable="sortableOptions" ng-model="notes">
  <li class="list-group-item note-item" ng-repeat="note in notes | filter:queryTag:true" ng-click="select(note)" ng-class="{active:note._id == currentId}">
    <span ng-click="delete(note, $event)" class="ion-android-trash remove"></span>
    <span class="ion-arrow-move move"></span>
    {{note.title}}
  </li>
</ul>
