<div class="form-group">
  <button type="button" class="btn btn-primary" ng-click="newNote()">New note</button>
</div>
<tags-input ng-show="editMode" ng-model="currentNote.tags">
    <auto-complete source="loadTags($query)"></auto-complete>
</tags-input>
<div ng-show="!editMode" class="display-tags">
  <p>
    <span class="badge" ng-repeat="tag in currentNote.tags">{{tag.text}}</span>
  </p>
</div>
<form ng-submit="save($event)" method="post">
  <div class="form-group">
  <h3 ng-show="!editMode">{{currentNote.title}}</h3>
  <input ng-show="editMode" type="text" class="form-control note-title" placeholder="Title" ng-model="currentNote.title">
  </div>
  <div class="form-group" ng-show="currentNote._id || newNoteFlag">
    <button type="button" class="btn btn-default" ng-model="editMode" bs-checkbox>Edit</button>
    <button ng-show="editMode" class="btn btn-primary" type="submit">Save</button>
  </div>
  <div class="form-group">
  <div ng-show="editMode" ui-ace="{showGutter: false, useWrapMode: true, mode: 'markdown'}" class="form-control note-content" ng-model="currentNote.content"></div>
  <div ng-show="!editMode" ng-bind-html="contentHtml"></div>
  </div>
</form>
