<div class="container" ng-keydown="keyPress($event)">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <form method="post" ng-submit="signup()" name="signupForm" novalidate>
          <h2 class="text-center">Sign up</h2>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.username.$dirty && signupForm.username.$invalid }">
            <input class="form-control input-lg" type="text" name="username" ng-model="username" placeholder="Name" required>
            <span class="ion-person form-control-feedback"></span>
            <div class="help-block text-danger" ng-show="signupForm.username.$dirty && signupForm.username.$invalid">
               <div ng-show="signupForm.username.$error.server">{{signupForm.username.$error.server}}</div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$dirty && signupForm.email.$invalid }">
            <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Email" required autofocus>
            <span class="ion-at form-control-feedback"></span>
            <div class="help-block text-danger" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
              <div ng-show="signupForm.email.$error.server">{{signupForm.email.$error.server}}</div>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
            <input class="form-control input-lg" type="password" name="password" ng-model="password" placeholder="Password" required>
            <span class="ion-key form-control-feedback"></span>
            <div class="help-block text-danger" ng-show="signupForm.password.$dirty && signupForm.password.$invalid">
              <div ng-show="signupForm.password.$error.server">{{signupForm.password.$error.server}}</div>
            </div>
          </div>

          <button ng-disabled="signupForm.$invalid || inProgress" type="submit" class="btn btn-lg btn-block btn-primary">
            <span data-animation="true" ng-show="inProgress" class="ion-looping"></span>
              Sign up
            </button>
          <br/>
          <p class="text-center text-muted">Already have an account? <a ui-sref="login">Log in now</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
