  <p>
    <button class="btn btn-default btn-xs" ng-repeat="tag in userTags | orderBy:'text'" type="button" ng-click="filterByTag(tag.text)" ng-class="{active: tag.text == queryTag}">{{tag.text}}
      <span class="badge">{{tag.number}}</span>
    </button>
  </p>
