<div class="row row-centered">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="form-group" ng-repeat="tag in tags | orderBy: 'text'">
      <div class="input-group">
        <input type="text" ng-model="tag.text" class="form-control">
        <span class="input-group-btn">
          <span class="btn btn-default">
            <span class="badge">{{tag.number}}</span>
          </span>
          <button class="btn btn-default" ng-click="editTag(tag)" type="button">Save</button>
          <button class="btn btn-default" ng-click="removeTag(tag)" type="button">Delete</button>
        </span>
      </div>
    </div>
  </div>
</div>
