<!DOCTYPE html>
<html ng-app="NgNotes">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Notes</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link href='http://fonts.googleapis.com/css?family=Roboto|Montserrat:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href="//cdn.jsdelivr.net/ionicons/1.4.1/css/ionicons.min.css" rel="stylesheet">

  <!-- build:css({.tmp,.}) vendor.css -->
  <link rel="stylesheet" href="vendor.css">
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
  <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
  <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css({.tmp,.}) appstyles.css -->
  <link rel="stylesheet" href="appstyles.css">
  <link rel="stylesheet" href="notes.css">
  <!-- endbuild -->

</head>
<body>
<div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <span>NOTES</span>
    </a>
  </div>
  <ul class="nav navbar-nav">
    <!--<li ng-if="currentUser"><a ui-sref="notes">Notes</a></li>-->
    <li ng-if="currentUser"><a href="/#/notes/list">Notes</a></li>
    <li ng-if="currentUser"><a href="/#/tags">Tags</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
    <li><a ui-sref="login">Login</a></li>
    <li><a ui-sref="signup">Sign up</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right" ng-if="currentUser">
    <li><a ng-bind="currentUser.name" href="/#editprofile"></a></li>
    <li><a href="" ng-click="logout()">Logout</a></li>
  </ul>
</div>

<div ui-view></div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.js"></script>
<script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
<script src="bower_components/ace-builds/src-min-noconflict/mode-markdown.js"></script>
<script src="bower_components/angular-ui-ace/ui-ace.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({src,.tmp}) scripts/app.js -->
<script src="app.js"></script>
<script src="controllers/noteListCtrl.js"></script>
<script src="controllers/tagCtrl.js"></script>
<script src="controllers/manageTagsCtrl.js"></script>
<script src="controllers/noteDetailsCtrl.js"></script>
<script src="controllers/navbar.js"></script>
<script src="controllers/auth/login.js"></script>
<script src="controllers/auth/signup.js"></script>
<script src="controllers/auth/editprofile.js"></script>
<script src="controllers/auth/forgotpassword.js"></script>
<script src="controllers/auth/resetpassword.js"></script>
<script src="services/auth.js"></script>
<script src="services/noteService.js"></script>
<script src="services/tagService.js"></script>
<script src="services/message.js"></script>

<!-- inject:partials -->
<!-- angular templates will be automaticaly converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->
</body>
</html>
